//- Mixin
//- mixin product(name, price)
mixin product({picture, name, info, price, motor, motorUnit, maxSpeed, maxRange, battery, batteryType, tireSize, tireType})
	li
		span: i(aria-hidden=true).fas.fa-chevron-circle-right
		span: a(href="#") #{name} #{info}
		.product-modal
			span.product-modal__close
				i.fas.fa-times
			.product-modal__content.container
				.product-modal__img
					img.products-modal(src=picture, alt="scooter")
				.product-modal__body
					.product-modal__header
						h2.product-modal__name #{name}
						h3.product-modal__info #{info}
						h3.product-modal__price SRP #{price}
					.product-modal__specs
						.row-1
							.product-modal__spec
								h4 Motor
								h3#motor #{motor}
								h5 #{motorUnit}
							.product-modal__spec
								h4 Max Speed
								h3#maxSpeed #{maxSpeed}
								h5 km/hr
							.product-modal__spec
								h4 Max Range
								h3#maxRange #{maxRange}
								h5 km
						p.product-modal__note (MAX RANGE will be affected by weight, roads usage)
						.row-2
							.product-modal__spec
								h4 Battery
								h3 #{battery}
								h5 #{batteryType}
							.product-modal__spec
								h4 Tire Size
								h3 #{tireSize}
								h5 #{tireType}

//- Usage
//- +product('Go Board Titan 8 Single', '37,500')

